---

---

<div class='content-box flex p-[4%]'>
	<slot />
</div>

<style>
	.content-box {
		background-size: cover;
		background-image: url('../img/TGDA-BG.webp');
		height: 100vh;
		width: 70%;
		align-items: center;
		justify-content: left;
	}

	@media screen and (max-width: 480px) {
		.content-box {
			width: 100%;
			height: 60%;
			flex-direction: column;
			justify-content: center;
			padding-left: 0%;
		}
	}
	@media screen and (max-width: 1023px) and (min-width: 481px) {
		.content-box {
			width: 100%;
			flex-direction: column;
			justify-content: left;
			padding-left: 0%;
		}
	}
	@media screen and (max-width: 1180px) and (min-width: 1024px) {
		.content-box {
			width: 60%;
			flex-direction: column;
			justify-content: center;
			padding-right: 5%;
		}
	}
</style>
